<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" />

    <title>ChatApp</title>
</head>

<body>
    <header>

        <a href="/">
            <img src="../../img/logo.png" alt="logo" />
        </a>

    </header>

    <main>
        <% if(logado != false) { %>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Membros</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/grupos/addmembro">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Email:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="email">
                                </div>
                                <input type="number" hidden class="form-control" id="recipient-name" name="grupo_id" value="<%= grupo.id %>">
                                <div class="mb-3">
                                    <label for="recipient-name2" class="col-form-label">Permissão:</label>
                                    <select class="form-select" aria-label="Default select example" id="recipient-name2" name="permissao">
                                        <option value="l">Leitura</option>
                                        <option value="r">Leitura e Escrita</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary">Adicionar Membro</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="containerbtnadicionarmembro">
                <% if(usuario.id == grupo.owner) { %>


                    <div class="btnadicionargrupo" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                        <span> Adicionar membro</span>
                        <i class="bi bi-plus"></i>
                    </div>

                    <% } %>


                        <div>

                            <span>Ver Mensagens:</span>
                            <i class="bi <%= ver == true ? 'bi-check-lg' : 'bi-x-lg' %>"></i>

                        </div>

                        <div>

                            <span>Mandar Mensagens:</span>
                            <i class="bi <%= escrever == true ? 'bi-check-lg' : 'bi-x-lg' %>"></i>

                        </div>


            </div>
            <% } %>
                </div>


                <div class="containermsg">

                <% if(ver == false) { %> 
                    <div class="naovermsg">
                            
                        <i class="bi bi-eye-slash"></i>
                        <span>Você não tem permissão para ver essas mensagens</span>
                    
                    </div>

                    <% } %>
                    <div class="headerchat">

                        <div title="<%=  grupo != undefined ? grupo.nome : ''  %>"><span>
                                <%= grupo !=undefined ? grupo.nome : '' %>
                            </span></div>

                        <div title="Sair do Grupo"><i class="bi bi-x-lg"></i></div>

                    </div>

                    <% if(ver == true) { %> 
                    <div class="mainmensagens">

                       

                        <% msgs.map(data => {  %>

                            <div class="contmsg">

                                <div>
                                    <span><%=data.mensagem%></span>
                                </div>

                                <div title="<%= data.username %>">

                                    <span> <%= data.username[0].toUpperCase() %> </div>


                                </div>









                                <% }) %>


                            </div>

                            <% } %>


                            <% if(ver == true && escrever == true) { %> 

                            <div class="footerchat">

                                <form action="/grupos/sendmsg" method="post">

                                    <input type="text" name="msg" />

                                    <input type="number" name="grupo" hidden value="<%= grupo.id %>" />


                                    <button type="submit"><i class="bi bi-send"></i></button>



                                </form>

                            </div>

                            <% } %>




                    </div>











    </main>

    <footer>
        <div>
            <span> Criado por </span>

                                    <a href="http://github.com/luansvxm" target="_blank">@LuanSVXM</a>

                                    <span> & </span>

                                    <a href="http://github.com/juliaebert2903" target="_blank">@JuliaEbert</a>
                                </div>
                                </footer>

                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>